@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.gravitasOne {
  font-family: 'Gravitas One', cursive;
}

.monserratBold600 {
  font-family: 'Montserrat', sans-serif;
}

.monserratBold900 {
  font-family: 'Montserrat', sans-serif;
}